body {
	margin: 0;
	background-color: #4d4d4d;
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a6a6a6;
	position: fixed;
    top: 0;
    width: 100%;
	height: 5%
}

#navli {
    float: left;
}

#navli a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navli a:hover:not(.active) {
    background-color: #8c8c8c;
}

.active {
    background-color: #b380ff;
}
.contentTable {
	box-shadow: 1px 1px 3px 1px #bfbfbf;
	background-color: #a6a6a6;
}